.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
  @include border-radius(10px);
}
.form-style-6 h1 {
  background: #757575;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin-bottom: $space;
  margin-top: $space;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="text"],
.form-style-6 input[type="text"],
.form-style-6 input[type="text"],
.form-style-6 input[type="number"],
.form-style-6 input[type="text"],
.form-style-6 input[type="text"],
.form-style-6 input[type="text"],
.form-style-6 textarea,
.form-style-6 select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="text"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
  box-shadow: 0 0 10px 0px #757575;
  padding: 3%;
  border: 1px solid #757575;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #757575;
  border-bottom: 2px solid #757575;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  cursor: pointer;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
  background: #757575;
}

#formButton {
  font-size: 18px;
  margin-bottom: $space;
}

.buttons {
  margin-right: $space;
}

.buttons input[type="radio"] {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
