@import "/lib/variables.scss";
@import "/lib/mixins.scss";
@import "./core/base.scss";
@import "./core/header.scss";
@import "./core/footer.scss";

.box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
